@model IEnumerable<prototipo2.Models.Empleado>

@{
    ViewData["Title"] = "ListaEmpleado";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row justify-content-center">
    <div class="container-sm py-3 col-11">

        <!-- Botón normal para redirigir -->
        <a asp-controller="Empleado" asp-action="CrearEmpleado" class="btn btn-primary mt-3">Agregar empleado</a>

  
        
       

        <!-- Tabla de empleados -->
<div class="card mt-4">
    <div class="card-body">
<table class="table table-striped mt-4" id="datatablesSimple" style="width:100%">
            <thead class="table-secondary">
                <tr>
              
                    <th>Nombre</th>
                    <th>Apellido</th>           
                    <th>Contraseña</th>
                     <th>IdRol</th>
                    <th>Fecha de Contratación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var empleado in Model)
                {
                    <tr>
                         <td>@empleado.Nombre</td>
                        <td>@empleado.Apellido</td>
                        <td>@empleado.Contrasena</td>
                        <td>@empleado.IdRol</td>
                        <td>@empleado.FechaContratacion.ToShortDateString()</td>
                        <td>
                            <a asp-controller="Empleado" asp-action="EditarEmpleado" asp-route-id="@empleado.IdEmpleado" class="btn btn-warning">Editar</a>
                            <a asp-controller="Empleado" asp-action="EliminarEmpleado" asp-route-id="@empleado.IdEmpleado" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
             </div>
        </div>
    </div>
</div>
  

@section Scripts {
    <!-- Simple DataTables JS -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"></script>
   <script src="~/js/empleado.js"></script>
}
}