@model IEnumerable<prototipo2.Models.Producto>

@{
    ViewData["Title"] = "Lista de Productos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row justify-content-center">
    <div class="container-sm py-3 col-11">

        <h1 class="mb-4">@ViewData["Title"]</h1>

        <a asp-controller="Inventario" asp-action="Crear" class="btn btn-primary mb-3">Agregar Producto</a>

        <div class="card mt-4 shadow rounded-4">
            <div class="card-body">
                <table class="table table-striped" id="datatablesSimple" style="width:100%">
                    <thead class="table-secondary">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Categoría</th>
                            <th>Proveedor</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var producto in Model)
                        {
                            <tr>
                                <td>@producto.IdProducto</td>
                                <td>@producto.Nombre</td>
                                <td>@producto.Descripcion</td>
                                <td>₡@producto.Precio.ToString("N2")</td>
                                <td>@producto.Cantidad</td>
                                <td>@producto.NombreCategoria</td>
                                <td>@producto.NombreProveedor</td>
                                <td>
                                    <a asp-controller="Inventario"
                                       asp-action="Editar"
                                       asp-route-id="@producto.IdProducto"
                                       class="btn btn-warning btn-sm">Editar</a>

                                    <a asp-controller="Inventario"
                                       asp-action="Eliminar"
                                       asp-route-id="@producto.IdProducto"
                                       class="btn btn-danger btn-sm">Eliminar</a>

                                    <a asp-controller="Catalogo" asp-action="Index" class="btn btn-warning btn-sm">
                                        <i class="fas fa-book"></i> Ver catálogo
                                    </a>


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"></script>
    <script src="~/js/Producto.js"></script>
}
